body {
    background-color: rgb(255, 255, 255);
    color: black;
    margin-top: 50px;
}

#myform {
    display: flex;
    justify-content: center;
}

h1 {
   display: flex;
    justify-content: center;
    border-radius: 5px;
    font-family: "Cinzel", serif;

}

p {
   font-size: 20px;
    display: flex;
    justify-content: center;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  
  div {
    padding-top: 20px;
  }

  .hidden {
    visibility: hidden;
    opacity: 0;
  }
  
  .showing {
    visibility: showing;
    opacity: 1;
  }
  
  #overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: visibility, opacity;
    transition-duration: 1s;
    transition-timing-function: ease;
  }
  
  #overlay article {
    box-sizing: border-box;
    background-color:antiquewhite;
    border-style: dashed;
    border-radius: 5px;
    padding: 20px;
    width: 40vw;
    height: 65vh;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);

  
  }
  
  #labels {
    display: flex;
    gap: 100px;
  }

  section {
  flex: 1;
  
  }

  label {
    display: flex;
    
  }
  
  #madlib {
    line-height: 2em;
    padding: 20px;
    text-align: center;
    font-size: 19px;
    font-family: Cinzel;
  }
  
  #Send, .close {
    color: black;
    transition: .3s;
    padding: 10px;
    border-style: inset;
  }
  
  #Send:hover, .close:hover {
    background-color: rgb(133, 16, 16);
    cursor: pointer;
  }

  #button {
   display:block;
   justify-content: center;  
  }

  #button.hover {
    background-color: rgb(133, 16, 16);
    cursor: pointer;
  }