body {
    background-color: rgb(255, 183, 1);
    color: black;
    margin-top: 50px;
}

h1 {
   display: flex;
    justify-content: center;
    border-radius: 5px;

}

p {
   font-size: 30px;
    display: flex;
    justify-content: center;

}

.button {
    display: flex;
    justify-content: center;
}